/capro-logo.png   export-ignore
/README.md        export-ignore
/.gitignore       export-ignore
/.github          export-ignore
/.phive           export-ignore
/.psalm           export-ignore
/tests            export-ignore
/phpstan          export-ignore
/.vscode          export-ignore
