# Gitignore for Capro Core (not for sites)
/.vscode
/vendor/
/cache/
/config/
/content/
/views/
/static/
/public/
/tmp*
.capro-cache*
.php-cs-fixer.cache
desktop.ini
/.env

# (not sure yet, depends if they are split up into separate repos or not)
/build/
/demo*
