parameters:
	level: 6
	bootstrapFiles:
		# - capro
		# - src/capro_bootstrap.php
	scanFiles:
		- capro
	paths:
		- src
		# - tests
	ignoreErrors:
		# Ignore unused parameter $argv, because it's required by the CommandInterface.
		- '/^Constructor of class xy2z\\Capro\\Commands\\Command[a-zA-z0-9_]+ has an unused parameter \$argv.$/'

		# Ignore undefined constant, because it's defined in capro but somehow not registered.
		- '/Constant CAPRO_START_TIME not found./'
