parameters:
	level: 6
	bootstrapFiles:
		- src/capro_bootstrap.php
	scanFiles:
		- capro
	paths:
		- src
		# - tests
	ignoreErrors:
		# Ignore magic method `__get()` calls in PublicView class.
		- '/^Access to an undefined property xy2z\\Capro\\PublicView::\$[a-zA-Z_]+\.$/'
		# Ignore unused parameter $argv, because it's required by the CommandInterface.
		- '/^Constructor of class xy2z\\Capro\\Commands\\Command[a-zA-z0-9_]+ has an unused parameter \$argv.$/'
